<a href="https://colab.research.google.com/github/sayonbardhan07/Coursera_Capstone/blob/master/AppliedDSCapstone_Week3_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Adding Latitude and Longitude Co-ordinates to the DataFrame**

Installing Library

In [1]:
!pip install geocoder

Collecting geocoder
  Downloading https://files.pythonhosted.org/packages/4f/6b/13166c909ad2f2d76b929a4227c952630ebaf0d729f6317eb09cbceccbab/geocoder-1.38.1-py2.py3-none-any.whl (98kB)
     |████████████████████████████████| 102kB 3.8MB/s
Collecting ratelim
  Downloading https://files.pythonhosted.org/packages/f2/98/7e6d147fd16a10a5f821db6e25f192265d6ecca3d82957a4fdd592cad49c/ratelim-0.1.6-py2.py3-none-any.whl
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from geocoder) (0.16.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from geocoder) (2.23.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from geocoder) (1.15.0)
Requirement already satisfied: click in /usr/local/lib/python3.6/dist-packages (from geocoder) (7.1.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from ratelim->geocoder) (4.4.2)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (2020.12.5)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6

In [2]:
import pandas as pd
import numpy as np
import geocoder
print("Imported!")

Imported!

In [3]:
df = pd.read_csv('toronto.csv')
df.head()

  Postalcode        Borough                            Neighborhood
0      M1B\n  Scarborough\n                          Malvern, Rouge
1      M1C\n  Scarborough\n  Rouge Hill, Port Union, Highland Creek
2      M1E\n  Scarborough\n       Guildwood, Morningside, West Hill
3      M1G\n  Scarborough\n                                  Woburn
4      M1H\n  Scarborough\n                               Cedarbrae

In [4]:
print(df.shape)
df.describe()

(103, 3)

       Postalcode       Borough Neighborhood
count         103           103          103
unique        103            10           99
top         M5M\n  North York\n    Downsview
freq            1            24            4

In [7]:
def get_latilong(postal_code):
    lati_long_coords = None
    while(lati_long_coords is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
        lati_long_coords = g.latlng
    return lati_long_coords
    
get_latilong('M4G')

[43.709020000000066, -79.36348999999996]

In [8]:
# Retrieving Postal Code Co-ordinates
postal_codes = df['Postalcode']    
coords = [ get_latilong(postal_code) for postal_code in postal_codes.tolist() ]

In [9]:
# Adding Columns Latitude & Longitude
df_coords = pd.DataFrame(coords, columns=['Latitude', 'Longitude'])
df['Latitude'] = df_coords['Latitude']
df['Longitude'] = df_coords['Longitude']

In [11]:

df[df.Postalcode == 'M5G\n']

   Postalcode             Borough        Neighborhood  Latitude  Longitude
57      M5G\n  Downtown Toronto\n  Central Bay Street  43.65609  -79.38493

In [12]:
df.head(15)

   Postalcode        Borough  ...  Latitude  Longitude
0       M1B\n  Scarborough\n  ...  43.81139  -79.19662
1       M1C\n  Scarborough\n  ...  43.78574  -79.15875
2       M1E\n  Scarborough\n  ...  43.76575  -79.17470
3       M1G\n  Scarborough\n  ...  43.76812  -79.21761
4       M1H\n  Scarborough\n  ...  43.76944  -79.23892
5       M1J\n  Scarborough\n  ...  43.74446  -79.23117
6       M1K\n  Scarborough\n  ...  43.72582  -79.26461
7       M1L\n  Scarborough\n  ...  43.71289  -79.28506
8       M1M\n  Scarborough\n  ...  43.72360  -79.23496
9       M1N\n  Scarborough\n  ...  43.69510  -79.26466
10      M1P\n  Scarborough\n  ...  43.75998  -79.26940
11      M1R\n  Scarborough\n  ...  43.75075  -79.30054
12      M1S\n  Scarborough\n  ...  43.79452  -79.26708
13      M1T\n  Scarborough\n  ...  43.78491  -79.29722
14      M1V\n  Scarborough\n  ...  43.81781  -79.28044

[15 rows x 5 columns]

In [13]:
df.to_csv('toronto_part2.csv',index=False)